$var title = 'Editar imagen 4'

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 2em;">
            <div class="wrapper-tools">
                <img src="http://localhost:8080/static/img/utem.jpg" alt="">
                <img class="pull-right" src="http://localhost:8080/static/img/utem2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="wrapper-upload" style="margin-top: 1em;">
                <h1>Seleccionar imágen: <small>Filtros especiales</small></h1>
                <div class="divider"></div>
                <form action="/editar-imagen4" method="post" enctype="multipart/form-data">
                    <p>
                        <input type="file" name="images_hdr" required>
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-default" value="hdr" name="images">HDR</button>
                            <button type="submit" class="btn btn-primary" value="timelapse" name="images">Time lapse</button>
                            <button type="submit" class="btn btn-warning" value="bullettime" name="images">Bullet time</button>
                        </div>
                    </div>
                    <br>
                </form>
                <div class="divider"></div>
                <a href="/" class="btn btn-default center-block">Volver</a>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="wrapper-tools" style="margin-top: 3em;">
                    <h4 class="text-center">Computación paralela 1S - 2016 / Grupo 2</h4>
                    <div class="divider"></div>
                    <strong>Profesor: </strong> Sr. Oscar Magna Veloso <br>
                    <strong>Integrantes:</strong>
                        <ul>
                            <li>Felipe S. Canales Saavedra</li>
                            <li>Nelson F. Cariqueo Rojas</li>
                            <li>Camila A. Vera Castañeda</li>
                            <li>Diego G. Castillo</li>
                        </ul>

                </div>
            </div>
        </div>
</div>