$def with (img)
$var title = 'Editar-imagen2'

<br>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="wrapper-tools">
                <h5>Rotar imagen</h5>
                <div class="divider"></div>
                <!--<div id="rotate"></div>-->
                <div id="rotate"></div>
            </div>
            <div class="wrapper-tools">
                <button class="btn btn-default center-block" id="mirror">Espejar</button>
            </div>
            <div class="wrapper-tools">
                <h5>Desenfoque</h5>
                <div class="divider"></div>
                <div id="blur"></div>
            </div>
            <div class="wrapper-tools">
                <h5>Enfoque</h5>
                <div class="divider"></div>
                <div id="sharp"></div>
            </div>
            <div class="wrapper-tools">
                <div id="border">
                    <div class="sliders3" id="brillo"></div>
                    <br>
                    <div class="sliders3" id="contraste"></div>
                    <br>
                </div>
                <input type="text" id="border_1" hidden>
                <input type="text" id="border_2" hidden>
                <button class="btn btn-default" id="btn-border">Aceptar</button>
            </div>
        </div>
        <div class="col-md-10">
            <div id="imagen">
                <img class="img-responsive" src="data:image/jpeg;base64,$img" alt="">
            </div>
        </div>
    </div>
</div>