$def with (img)
$var title = 'Editar-imagen3'

<br>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="wrapper-tools">
                <button class="btn btn-default center-block" id="convolucion" value="0">Convolución</button>
                <br>
                <button class="btn btn-default center-block" id="desconvolucion" value="1">Desconvolución</button>

            </div>
            <div class="wrapper-tools">
                <button class="btn btn-default center-block" id="fourier">Fourier</button>
            </div>
            <div class="wrapper-tools">
                <button class="btn btn-default center-block" id="dip-gauss">D. Gaussiana</button>
            </div>
        </div>
        <div class="col-md-10">
            <div id="imagen">
                <img class="img-responsive" src="data:image/jpeg;base64,$img" alt="">
            </div>
        </div>
    </div>
</div>