$def with (img)
$var title = 'Editar-imagen2'

<br>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="wrapper-tools">
                <h5>Rotar imagen</h5>
                <div class="divider"></div>
                <div id="rotate"></div>
            </div>
            <div class="wrapper-tools">
                <button class="btn btn-default center-block" id="mirror">Espejar</button>
            </div>
            <div class="wrapper-tools">
                <h5>Desenfoque</h5>
                <div class="divider"></div>
                <div id="blur"></div>
            </div>
            <div class="wrapper-tools">
                <h5>Enfoque</h5>
                <div class="divider"></div>
                <div id="sharp"></div>
            </div>
            <div class="wrapper-tools">
                <div id="eq4">
                    <span>0</span>
                    <span>0</span>
                </div>
                <input type="text" id="bright" value="0" hidden>
                <input type="text" id="contrast" value="0" hidden>
            </div>
        </div>
        <div class="col-md-10">
            <div id="imagen">
                <img class="img-responsive" src="data:image/jpeg;base64,$img" alt="">
            </div>
        </div>
    </div>
</div>