$def with (img)
$var title = 'Editar-imagen2'

<br>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="wrapper-tools">
                <h5>Rotar imagen</h5>
                <div class="divider"></div>
                <div id="rotate"></div>
            </div>
        </div>
        <div class="col-md-10">
            <div id="imagen">
                <img class="img-responsive" src="data:image/jpeg;base64,$img" alt="">
            </div>
        </div>
    </div>
</div>