$def with (video)
$var title = 'Result'

<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="wrapper-tools">
                <h1 class="text-center">Resultado: <small>Time lapse</small></h1>
                <div class="divider"></div>
                <a class="btn btn-success text-center" href="http://localhost:8080/static/video/timelapseVideo.mp4" download="VidTimelapse">Video TimeLapse</a>
                <video controls width="50%">
                    <source src="http://localhost:8080/static/video/timelapseVideo.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="wrapper-tools">
                <a href="/editar-imagen4" class="center-block btn btn-success">Volver</a>
            </div>
        </div>
    </div>
</div>