$def with (msg)
$var title = 'Subir imágen'



<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 2em;">
            <div class="wrapper-tools">
                <img src="http://localhost:8080/static/img/utem.jpg" alt="">
                <img class="pull-right" src="http://localhost:8080/static/img/utem2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="wrapper-upload" style="margin-top: 1em;">
                <h1>Seleccionar imágen</h1>
                <div class="divider"></div>
                <form action="/" method="post" enctype="multipart/form-data">
                    <p class="text-justify center-block">
                        <input type="file" class="upload-file" name="upload_file">
                    </p>
                    <input type="text" placeholder="Ingrese url. . ." class="upload-url" disabled><br>
                    <button type="submit" class="btn btn-default center-block" class="upload-btn">Aceptar</button>
                    <br>
                </form>
                $if msg:
                    <div class="alert alert-warning alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <strong>Alerta!</strong> $:msg
                    </div>
                <div class="divider"></div>
                <a href="/editar-imagen4" class="btn btn-default center-block">Movimiento de imágenes</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="wrapper-tools" style="margin-top: 3em;">
                    <h4 class="text-center">Computación paralela 1S - 2016 / Grupo 2</h4>
                    <div class="divider"></div>
                    <strong>Profesor: </strong> Sr. Oscar Magna Veloso <br>
                    <strong>Integrantes:</strong>
                        <ul>
                            <li>Felipe S. Canales Saavedra</li>
                            <li>Nelson F. Cariqueo Rojas</li>
                            <li>Camila A. Vera Castañeda</li>
                            <li>Diego G. Castillo</li>
                        </ul>

                </div>
            </div>
        </div>
    </div>
</div>